<template>
  <b-card
    border-variant="primary"
    header="Вход"
    header-bg-variant="primary"
    header-text-variant="white"
  >
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="usernameInputGroup" label="Имя пользователя:" label-for="usernameInput">
        <b-form-input
          id="usernameInput"
          type="text"
          v-model="username"
          required
          placeholder="Введите имя пользователя"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="passwordInputGroup" label="Пароль" label-for="passwordInput">
        <b-form-input
          id="passwordInput"
          type="password"
          v-model="password"
          required
          placeholder="Введите пароль"
        ></b-form-input>
      </b-form-group>

      <b-row class="justify-content-center mb-2">
        <b-button type="submit" variant="success">Войти</b-button>
      </b-row>
      <b-row class="justify-content-center">
        <b-button type="reset" variant="danger">Сбросить</b-button>
      </b-row>
    </b-form>
  </b-card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class LoginForm extends Vue {
  private username?: string;
  private password?: string;

  public data() {
    return {
      username: '',
      password: '',
    };
  }

  public onReset() {
    this.username = '';
    this.password = '';
  }

  public onSubmit() {
    console.log({ username: this.username, password: this.password });
    this.onReset();
  }
}
</script>
