<template>
  <sidebar-menu :menu="menu"/>
</template>

<style>
  .v-sidebar-menu {
    position: relative;
  }
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { SidebarMenu } from 'vue-sidebar-menu';

@Component({
  components: {
    SidebarMenu,
  },
})
export default class Navigation extends Vue {
  private menu = [
    {
      header: true,
      title: 'Music Cloud',
    },
    {
      href: '/',
      title: 'Главная',
      icon: 'fa fa-user',
    },
    {
      href: '/music',
      title: 'Плеер',
      icon: 'fa fa-music',
    },
    {
      href: '/about',
      title: 'About',
    },
    {
      title: 'Charts',
      icon: 'fa fa-chart-area',
      child: [
        {
          href: '/charts/sublink',
          title: 'Sub Link',
        },
      ],
    },
  ];
}
</script>
