<template>
  <div id="app">
    <b-container fluid>
        <b-row>
            <navigation/>
            <b-col>
              <div class="mb-5"/>
              <router-view/>
            </b-col>
        </b-row>
    </b-container>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Navigation from './components/Navigation.vue';

@Component({
  components: {
    Navigation,
  },
})
export default class App extends Vue {}
</script>
