<template>
<b-row>
  <b-col/>
  <b-col><login-form/></b-col>
  <b-col/>
</b-row>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import LoginForm from '../components/LoginForm.vue';

@Component({
  components: {
    LoginForm,
  },
})
export default class About extends Vue {}
</script>
