<template>
  <hello-world/>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue';
import Navigation from '@/components/Navigation.vue';

@Component({
  components: {
    HelloWorld,
    Navigation
  },
})
export default class Home extends Vue {}
</script>
