<template>
  <player />
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import Player from "@/components/Player.vue";

@Component({
  components: {
    Player
  }
})
export default class Music extends Vue {}
</script>
